<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019 das.bikash.dev@gmail.com. All rights reserved.
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!--  <property name="hibernate.connection.url">jdbc:mysql://192.168.0.102:3306/news_server_data_coordinator?UseUnicode=true</property>-->
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/news_server_data_coordinator?UseUnicode=truee&amp;useSSL=false</property>
<!--  <property name="hibernate.connection.username">temp_user_on_dtop</property>-->
  <property name="hibernate.connection.username">nsdc_app_user</property>
<!--  <property name="hibernate.connection.password">temp_user_on_dtop</property>-->
  <property name="hibernate.connection.password">nsdc_app_user</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
  <property name="hbm2ddl.auto">validate</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">true</property>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.Language"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.Country"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.Newspaper"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.Page"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.Article"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleImage"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ErrorLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.GeneralLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleUploadLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleUploadTarget"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.SettingsUpdateLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.SettingsUploadLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.TwoStateStatus"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleUploaderStatusChangeLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleDownloadLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleDeleteRequest"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.AuthToken"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.DailyDeletionTaskLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.RestrictedSearchKeyWord"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.KeyWordSearchResult"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleSearchResultUploaderLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.NewsCategory"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.NewsCategoryEntry"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.FirebaseUser"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.FirebaseUserInfoSynchronizerLog"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.FavPageEntryOnUserSettings"/>
  <mapping class="com.dasbikash.news_server_data_coordinator.model.db_entity.ArticleNotificationGenerationLog"/>
 </session-factory>
</hibernate-configuration>
